.title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
  display: inline-block;
  width: 100%;
}

.slider {
  background-image: url("../images/Danticija web2.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 763px;
  .registration-infoblock{
    width: 30%;
    position: relative;
    margin-left: 50px;
    top: 40%;
    .title {
      color: $sky-blue;
      font-size: 43px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;
    }
    .short-description {
      font-size: 26px;
      margin-bottom: 30px;
    }
      .buttons{
          .btn {
            padding: 10px 25px;
            background-color: transparent;
            border-color: $green;
            border-radius: 16px;
            border-style: solid;
            min-width: 150px;
            font-size: 18px;
            &:hover {
              background-color: $red;
              color: black;
              border-color: $red;
            }
          }

        .registration{
                background-color: $green;
                color: #ffffff;
                margin-right: 15px;
              }
            }
          }
        }


.services{
  margin: 30px 0;
  .services-list{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .service-item{
      background-color: #ffffff;
      padding: 30px;
      display: flex;
      flex-direction: column;
      width: 22%;
      .icon{
        text-align: center;
        img{
          height: 117px;
        }
      }
      .name{
        font-size: 18px;
        font-weight: 700;
        padding: 20px;
        text-align: center;
        min-height: 85px;
      }
      .price{
        font-size: 20px;
        color: $purple;
        text-align: center;
        padding: 20px;
        font-family: 'Shrikhand', cursive;
      }
      &:hover{
        -webkit-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 18px 0px rgba(0,0,0,0.75);
      }
    }
  }
}
.specialists{
  background-color: #e5e9eb;
}
.carrousel {
  background: #e5e9eb;
  text-align: center;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  overflow: hidden;
  .logo{
    display: inline-block;
    border-radius: 150px;
    background-color: white;
    .radio{
      align-items: center;
    }
  }
}